version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly # Check for updates monthly
    groups:
      dependencies:
        patterns:
          - '*'