[build-system]
requires = ["setuptools>=45", "setuptools_scm[toml]>=6.2"]
build-backend = "setuptools.build_meta"

[project]
name = "omero_slurm_client"
#version = "0.0.1"
dynamic = ["version"]
authors = [{ name = "Torec Luik", email = "t.t.luik@amsterdamumc.nl" }]
description = "A python library for easy connecting between Omero (jobs) and a Slurm cluster"
readme = "README.md"
requires-python = ">=3.6"
keywords = ["omero", "slurm"]
license = { file = "LICENSE" }
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
]
dependencies = [
    "requests==2.31.0",
    "fabric==3.1.0",
    "paramiko==3.2.0",
    "importlib_resources>=5.4.0"
]

[tool.setuptools.packages]
find = {}  # Scan the project directory with the default parameters

[tool.setuptools_scm]


[project.urls]
"Homepage" = "https://github.com/NL-BioImaging/omero-slurm-client"