# This workflow will install dependencies with pixi, run tests and lint
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python package

on:
  push:
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up pixi
      uses: prefix-dev/setup-pixi@v0.8.1
      with:
        pixi-version: latest
        environments: test
    - name: Install dependencies
      run: |
        pixi install -e test
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        pixi run -e test flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        pixi run -e test flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        pixi run -e test pytest tests/unit/ --cov=biomero --cov-report=xml
    - name: Coveralls GitHub Action
      if: matrix.python-version == '3.11'
      uses: coverallsapp/github-action@v2.3.0

            
